@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans';
}

body {
  min-height: 100vh;
  background: #ffffff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  background-clip: padding-box;
}

.upload-dropzone * {
  color: #000000 !important;
}
.upload-dropzone label {
  background-color: white;
  border: 2px solid #000000;
}
.upload-dropzone div :has(> p) {
  display: none;
}
